
    <section id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag 'CharlieGitaar.png', class: 'avatar' %>
          </div>
          <div class="col-sm-9">
            <h1><strong>Hello there :)</strong></h1>
              <p>Mijn naam is Charlotte Voskuilen.
                Ik ben 25 jaar en ik volg momenteel voor de derde keer de minor
                The Next Web op mijn opleiding Communicatie & Multimedia
                Design op het NHL in Leeuwarden. </p>

                <p>Naast het bouwen van websites of het ontwikkelen van applicaties,
                heb ik een grote passie voor muziek, dieren en fotografie. Ik woon op een boerderij waar ik omringd ben door
                lieve dieren die ik verzorg. In mijn vrije tijd luister ik graag naar muziek en speel ik dit na op mijn
                gitaar of maak ik foto's van de mooie omgeving waar ik woon.</p>

                <p><strong>Stuur gerust een <a href="mailto:charlottevoskuilen@hotmail.com">mail</a> voor vragen!</strong></p>
          </div>
        </div>
      </div>
    </section>

    <section id="cv">
      <div class="section-header">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <section class="timeline">
        <div class="container-fluid">
          <h2>Mijn school en ervaringen</h2>
            <article class="left-content">
              <div class="timeline-content">
                <h1>2016</h1>
                <p>Minor The Next Web op NHL te Leeuwarden</p>
                <p>Februari 2016 - huidig</p>
              </div>
              <div class="spacing"></div>
              <div class="timeline-content">
                <h1>2013</h1>
                <p>Afstudeerstage Landstede Productiehuis te Zwolle</p>
                <p>Productieleider cameracrew hoofdpodium BFO</p>
                <p>Maart 2013 - Juni 2013</p>
              </div>
              <div class="spacing"></div>
              <div class="timeline-content">
                <h1>2011</h1>
                <p>Stagiair IQ Media te Zwolle</p>
                <p>Camera & editor FC Zwolle TV</p>
                <p>Februari 2011 - Juni 2011</p>
              </div>
              <div class="spacing"></div>
            </article>
            <article class="right-content">
              <div class="spacing"></div>
              <div class="timeline-content">
                <h1>2015</h1>
                <p>Communicatie Multimedia & Design op NHL te Leeuwarden</p>
                <p>September 2015 - huidig</p>
              </div>
              <div class="spacing"></div>
              <div class="timeline-content">
                <h1>2012</h1>
                <p>Stagiair Café Noir Nieuwe Media te Zwolle</p>
                <p>Functie tweede camera & editor</p>
                <p>Mei 2012 - Juli 2012</p>
              </div>
              <div class="spacing"></div>
              <div class="timeline-content">
                <h1>2009</h1>
                <p>Media & Vormgeving op Landstede te Zwolle</p>
                <p>Afgestudeerd AV Allround Medewerker</p>
                <p>2009 - 2013</p>
              </div>
            </article>
        </section>
      </div>
    </section>

    <section id="work">
      <div class="section-header">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </div>
      <div class="container">
        <h2>Mijn portfolio</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="work-holder">
            </div>
            <div class="my-portfolio">
              <h3>Project 1</h3>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="work-holder">
            </div>
            <div class="my-portfolio">
              <h3>Project 2</h3>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="work-holder">
            </div>
            <div class="my-portfolio">
              <h3>Project 3</h3>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        </div>
      </div>
    </section>
