#about {
  background-color: #fff;
  text-align: center;
  padding-bottom: 180px;

  .container-fluid {
    width: 90%;
  }

  .avatar {
    width: 80%;
    margin-top: 10%;
  }

  h1 {
    font-family: Gujarati Sangam MN;
    font-size: 40px;
    text-align: center;
    text-align: left;
  }

  p {
    font-family: Gujarati Sangam MN;
    font-size: 20px;
    text-align: center;
    text-align: left;
  }
}
