#cv {
  background-color: #efc185;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0 40px;
  padding: 0;
  color: #fff;
  font-family: Gujarati Sangam MN;
}

.timeline {
  padding-bottom: 50px;

  .container-fluid {
  	width: 100%;
  	margin: 0 auto;
    overflow: auto;
  	padding: 2%;
  }
}

.right-content, .left-content {
	display: block;
	width: 50%;
	padding: 1% 2%;

  h1 {
    color: #000;
  }
  p {
    color: #fff;
  }
}
.right-content {
  float: right;
  border-left: 5px solid #fff;
}

.left-content {
  float: left;
	text-align: right;

  h1 {
  	margin: 50px 0 0 ;
  }
}


.left-content {
  font-size: 20px;
}

.right-content {
  font-size: 20px;
}

.timeline {

  .container-fluid div {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7 ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 180px;
  }
}

.left-content .more-padding {
  transform: translateX(-100px);
}

.right-content .more-padding {
  transform: translateX(100px);
}
