@font-face {
  font-family: 'Beyond The Mountains';
  src:  font-url('beyond_the_mountains.ttf') format('truetype'), font-url('beyond_the_mountains.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gujarati Sangam MN';
  src:  font-url('gujarati_sangam_mn.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}
