#work {
  padding-bottom: 150px;

  h2 {
    color: #000;
    font-family: Gujarati Sangam MN;
  }

  .container {
    padding: 0;
  }

  .row {
    margin: 10px 0 0 0;
  }

  .content-image img {
    //height: 100%;
    height: auto;
    max-width: 100%;
  }

  .caption {
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 20px 20px;
    height: 260px;

    p {
      margin: 0;
      padding: 5px;
    }
  }
}
