.work-holder {
  height: 300px;
  background-color: #d8d8d8;
}

.my-portfolio {
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

#work {
  padding-bottom: 150px;

  h2 {
    color: #000;
    font-family: Gujarati Sangam MN;
  }
}
